<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>AllowNetworkAccess</key>
    <true/>
    <key>CFBundleDisplayName</key>
    <string>Envato Balance</string>
    <key>CFBundleIdentifier</key>
    <string>com.apple.widget.envatobalance</string>
    <key>CFBundleName</key>
    <string>Envato Balance</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleVersion</key>
    <string>1.0</string>
    <key>CloseBoxInsetX</key>
    <integer>0</integer>
    <key>CloseBoxInsetY</key>
    <integer>0</integer>
    <key>MainHTML</key>
    <string>EnvatoBalance.html</string>
    <key>Height</key>
    <string>57</string>
    <key>Width</key>
    <string>153</string>
</dict>
</plist>